@media screen and (max-width: 1024px) {

 /* HEADER */
    .topheader{
        display: flex;
        flex-direction: column;
    }

    .logo{
        width: 100%;
    }
   
    .up{
        display: none
    }

    .up_mobile{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #mobilesignup{
        position: absolute;
        top: 48px;
        right: 75px;
    }

    .mobileheberg{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .mobileheberg a{
        width: 50%;
        text-align: center;
        border: solid 2px  #0065FC;
        border-left-color: white;
        border-right-color: white;
        border-top-color: white;
        padding-bottom: 15px;
        color: black;
    }

    #hebrg{
        border: solid 3px  #0065FC;
        border-left-color: white;
        border-right-color: white;
        border-top-color: white;
        padding-bottom: 15px;
    }

    #actv{
        border: solid 5px #F2F2F2;
        border-left-color: white;
        border-right-color: white;
        border-top-color: white;
        padding-bottom: 15px;
    }

    .filtre{
        margin-bottom: 8px;
    }

    .boxsearch{
        display: none;
    }

    .boxsearchmobile{   
        background-color: #0065FC;
         margin-top: 10px;
        padding: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color:white;
        display: flex;
    }

    .up_mobile a:visited {
        color: inherit;
    }

    .up_mobile a{
        text-decoration: none;
    }
    
    .info{
        margin-bottom: 10px;
    }

/* Hebergement, Activités */

    .box3 {
        flex-direction: column;
    }

    .simple, .double {
        width: calc(100% - 60px);
    }

    .imgactlongue, #Fort img, #Iles img, #Dame img, #Parc img {
        height: 200px;
    }

    .box{
        flex-direction: column-reverse;
        padding: 0;
    }

    .box1{
        background-color: white;
        width: calc(100% - 50px);
        margin-left: 10px;
    }

    .box2{
        width: calc(100% - 20px);
        margin-left: 0;
        border-radius: 0;
    }

    .imagelog{
        height: 90px;
    }

    .logements{
        flex-direction: column;
    }

    .logement{
        width: calc(100% - 5px);
        padding: 0;
        margin-top: 20px;
        border: solid 1px #F2F2F2;
    }

    .boxinfosplus p{
        margin-top: 15px
    }

    /* FOOTER */

    .bandlow{
        flex-direction: column;
    }

  


}